SCHEMA/TYPY/daneosoby.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="daneOsoby">
        <xsd:all>
            <xsd:element name="imie" type="xsd:string"></xsd:element>
            <xsd:element name="nazwisko" type="xsd:string"></xsd:element>
            <xsd:element name="nrPesel" type="xsd:string"></xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="osoba" type="daneOsoby"></xsd:element>
</xsd:schema>
