SCHEMA/TYPY/wynikmeczu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="wynikMeczu">
    <xsd:complexType>
       <xsd:choice>
        <xsd:element name="wygrana" type="xsd:string"></xsd:element>
        <xsd:element name="remis" type="xsd:string"></xsd:element>
        <xsd:element name="przegrana" type="xsd:string"></xsd:element>
       </xsd:choice> 
    </xsd:complexType>
</xsd:element> 
</xsd:schema>
